DEBUG=True

DB_HOST=ce_db
DB_ENGINE=postgres
DB_DATABASE=collection_editor
DB_USER=ce_user
DB_PASSWORD=ce_password

MONGO_HOST=ce_mongo
MONGO_ENGINE=djongo
MONGO_DATABASE=collection_editor
MONGO_USER=ce_user
MONGO_PASSWORD=ce_password
